parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    education_map:
        0: 'lmi.school.common.teacher.education.high'
        1: 'lmi.school.common.teacher.education.special'
        2: 'lmi.school.common.teacher.education.full_school'
        3: 'lmi.school.common.teacher.education.base_school'
        4: 'lmi.school.common.teacher.education.other'

    category_map:
        0: 'lmi.school.common.teacher.category.high'
        1: 'lmi.school.common.teacher.category.first'
        2: 'lmi.school.common.teacher.category.second'
        3: 'lmi.school.common.teacher.category.empty'

    subjects:
        - русский язык и литература
        - математика
        - информатика и ИКТ
        - английский язык
        - физика
        - химия
        - биология
        - начальные классы
        - мировая художественная культура
        - история
        - обществознание
        - физическая культура
        - изобразительное искусство
