<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="{{ keywords|default('lmi.school.meta.keywords'|trans) }}">
    <meta name="description" content="{{ description|default('lmi.school.meta.description'|trans) }}">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheet %}{% endblock %}
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="{{ asset('bundles/lmischool/css/main.css') }}" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script></head>
<body>
    <div id="header">
        <img src="{{ asset('bundles/lmischool/images/header.jpg') }}">
    </div>
    <div id="content">
        {% include "LmiSchoolBundle::navbar.html.twig" %}
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3">
                    {% include "LmiSchoolBundle::leftMenu.html.twig" %}
                </div>
                <div class="span9" style="padding-left: 20px;  padding-right: 20px;">
                    {% block content %}{% endblock %}
                </div>
            </div>
            <hr>
        </div>
    </div>
    <footer class="text-center">
        {% include "LmiSchoolBundle::footer.html.twig" %}
    </footer>
    {% block javascript %}{% endblock %}

    {#{% if is_granted('ROLE_ADMIN') %}#}
        {#<script src="http://masonry.desandro.com/masonry.pkgd.js"></script>#}
    {#{% endif %}#}
    <script>
        $(document).ready(function() {
            $('.persist-header').each(function(i) {
                if (!$(this).next().hasClass('floating-header')) {
                    var clone = $(this).clone().addClass('floating-header invisible');
                    clone.removeClass('persist-header');
                    clone.width($(this).width());
                    $(this).after(clone);
                }
            });
            $(window).scroll(function() {
                $('.persist-header').each(function(i) {
                    if ($(window).scrollTop() > $(this).offset().top) {
                        $(this).addClass('invisible');
                        $(this).next().removeClass('invisible');
                    } else {
                        $(this).next().addClass('invisible');
                        $(this).removeClass('invisible');
                    }
                });
            });
        });
    </script>
</body>
</html>
