<div class="affix span3 fix-on-scroll">
    <ul class="nav nav-tabs nav-stacked">
        <li class="dropdown-submenu">
            <a href="#">Информация</a>
            <ul class="dropdown-menu">
                <li><a href="#">О лицее</a></li>
                <li><a href="#">История лицея</a></li>
                <li><a href="#">Прием в лицей</a></li>
                <li class="dropdown-submenu">
                    <a href="#">Достижения</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Ученики</a></li>
                        <li><a href="#">Учителя</a></li>
                        <li><a href="#">Лицей</a></li>
                    </ul>
                </li>
                <li><a href="#">Безопасность</a></li>
                <li><a href="#">Партнеры</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Администрация</a>
        </li>
        <li><a href="#">Управляющий совет</a></li>
        <li><a href="#">Социальная защита</a></li>
        <li><a href="#">СРООРО "Формика"</a></li>
        <li><a href="#">Учителя</a></li>
        <li><a href="#">Учеба</a></li>
        <li><a href="#">Фотогалерея</a></li>
        <li><a href="#">Виртуальный музей</a></li>
        <li><a href="#">Итоговая аттестация</a></li>
        <li><a href="#">Портал</a></li>
        <li><a href="#">Оффициальная документация</a></li>
        <li><a href="#">Бухгалтерия</a></li>
        <li><a href="#">Модернизация образования</a></li>
        <li><a href="#">Контакты</a></li>

    </ul>
</div>
